{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
    <div>
        <p>
            Peptide-protein interactions play a critical role in the protein-protein interaction network with significant involvement in signal transduction and regulation. Many of these interactions are promising candidates for providing new leads for drug targets. Thus the development of computational tools for accurate and efficient modeling of these interaction is of high priority.

            Peptides often lack a distinct fold in their unbound state, and go through simultaneous binding and folding upon encountering their target protein receptor. In many cases no knowledge regarding the peptide binding site and/or the peptide backbone conformation is available. Structure-based modeling of these interactions is very challenging. A high-resolution global peptide-protein docking protocol is required to address such challenging modeling problems.

            A significant progress has been made recently with the development of many peptide-protein docking algorithms. These significant recent advances in global peptide docking notwithstanding, present approaches are still limited in their modeling quality and general applicability, and there is ample room for improvements that would enable the detailed high-resolution study of more peptide-protein interactions with higher accuracy. We have developed PIPER-FlexPepDock, a high resolution global peptide-protein docking protocol for more accurate and efficient high-resolution modeling of peptide-protein interactions.

        </p>
    </div>
{% endblock %}