{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
    <div>
        <p>
            This website provides a User Interface to cartoonize images using the cartoonizer developed by <a href="https://github.com/FilipAndersson245">Filip Andersson</a>.
            <br>
            The Generative Adversial Network (GAN) model was trained on over <a href="https://github.com/FilipAndersson245/cartoon-gan#description">60,000 images</a> from works by Hayao Miyazaki at Studio Ghibli.</a> 
        </p>
    </div>
{% endblock %}