{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
    <div style = "padding-top:70px; padding-bottom:30px">
        <form action="/login" method="POST">
            <p>New User?
            <a href = "/register">Create an Account</a></p>
            <br>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
            <br><br>
            <a href = "/reset">Forgot Password?</a>
        </form>
    </div>
{% endblock %}