{% extends "layout.html" %}

{% block title %}
Queue
{% endblock %}

{% block main %}
    <table class="table table-striped" style = "float: left; width 30%; margin: 0 0; text-align: center';">
        <thead>
            <tr>
                <th>JOBID</th>
                <th>No. of files</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {%for job in jobs%}
                <tr>
                    <!-- current_prices[stock.symbol] is a dict say d, now d["name"] is the name of the company-->
                    <!-- we can call a python function from a jinja template using app.add_template_global(<function_name>, name='<alias / new name for the jinja template, alias may be the same as function_name>') -->
                    <td>{{job["job_id"]}}</td>
                    <td>{{job["file_count"]}}</td>
                    <td>{{job["time"]}}</td>
                    <td>NA</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}