{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <div>
        <form action = /jobs enctype="multipart/form-data" method = "POST">
            <!--{% set file_count = file_count %}-->
            <input type="hidden" name="file_count" value={{file_count}} />
            {% for i in range(file_count) %}
                {% set filename = "file_{}".format(i)%}
                <input type = file name = {{filename}} /><br>
            {% endfor %}
            <button class btn btn-primary type = submit>Submit Job</button>
        </form>
    </div>

    {{message}}
{% endblock %}